---
---

@import "{{ site.theme }}";
body {
    background-color: white;
  }
  
  .section {
    padding: calc(var(--feather-grid-mega) * 2) 0;
  }
  
  .container {
    max-width: var(--feather-grid-page-width);
    margin: 0 auto;
  }
/* Navigation wrapper */

nav {
    background-color: var(--tw-color-blue-primary);
    padding: var(--feather-grid-xsmall);
    width: 100%;
    position: fixed;
    z-index: 2;
    overflow-y: visible;
  }
  
  /* Navigation title - web */
  
  .nav-title {
    display: inline-block;
  }
 
  a.home-link, a.nav-link {
    text-decoration: green;
  }
  
  a.home-link:link, a.home-link:visited, .home-text {
    color: green;
    font-weight: 700;
    margin: 0;
    margin-right: 1.2rem;
    margin-left: 2rem;
  }
  
  a.home-link:hover, a.home-link:active {
    color: lightblue;
  }
  

  
  /* Navigation menu - web */
  
  .nav-menu {
    display: inline-block;
    padding: 20;
    margin: 0;
  }
  
  .nav-list-item {
    display: inherit;
    margin-left: 1.2rem;
  }
  
  a.nav-link:link, a.nav-link:visited {
    color: white;
  }
  
  a.nav-link:hover, a.nav-link:active {
    color: var(--tw-color-blue-faded);
  }
  
  .home-link {
    display: inline-block;
  }
  
  .home-text {
    display: none;
  }
  
  #extra-mobile-link {
    display: none;
  }
