<!DOCTYPE html>
<html>
	<head>
		<img src="profile.jpeg" alt="Avatar">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
        </nav>
        
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
					<a href="https://dev.to/kingofkeems">
						<img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="ackeem and saltfish's DEV Profile" height="30" width="30">
					  </a>
        		<li><a href="mailto:hakeemsbuchanan@outlook.com">email</a></li>
        		<li><a href="https://github.com/KingBuchanan">github.com/KingBuchanan</a></li>
			</ul>
		</footer>
	</body>
</html>
